<div class="output">  

  <!-- GuideLine -->
  <div class="row">
    <div class="col-lg-6">
      <div class="alert alert-success" role="alert" id="guideline">Let Hafez recommend some rhyme words first! </div>
    </div>
  </div>
  
  <!-- status -->
  <div class="row" style="margin-bottom:15px">
    <div class="col-lg-6">
      <h3><span id="status" class="label label-info">Ready</span></h3>
    </div>
  </div>
  
  <!-- copy here -->

  <!-- for line1  -->
  <div id="lines">
  </div>
  
  <!-- The Rhyme Confirm Button -->
  <div class="row poem-line">

    <div class="col-lg-4">
      
    </div>

    <div class="col-lg-2" >	    
      <span id="ticket" style="display:none"></span>
    </div>


    <div class="col-lg-2" style="display:none">	    
      <button class="btn btn-default" type="button" data-loading-text="..." onclick="confirm_rhyme()" id="confirm_button" disabled="true">Confirm</button>
    </div>
  </div>


</div>
