<!-- Number of Lines -->
<div class="row" style="display:block">
  <div class="col-lg-2">
    <b>#Line</b>
  </div>
  <div class="col-lg-6">
    <div class="input-group">
      <div class="radio-inline">
	<label><input type="radio" name="nline" value="2" onclick="nline_onchange(2)">2 lines </label>
      </div>
      <div class="radio-inline">
	<label><input type="radio" name="nline" value ="4" checked="checked" onclick="nline_onchange(4)">4 lines</label>
      </div>
      <div class="radio-inline">
	<label><input type="radio" name="nline" value ="14" onclick="nline_onchange(14)">14 lines</label>
      </div>
    </div>    
  </div>
</div> <!-- row -->
