<div class="output">  

  <div class="row" style="margin-bottom:15px">
    <div class="col-lg-6">
      <h3><span id="status" class="label label-info">Ready</span></h3>
    </div>
  </div>
  

  <div class="panel panel-default">
    <span class="label label-default" style="font-size:1.2em">Rhyme</span>
    <div class="row" >
      <div class="col-lg-2" id = "rate_star" style="margin:10px 10px 0px 10px;"></div>
      <div class="col-lg-3" id = "rate_message" style="margin:10px 10px 0px 10px;"></div>
    </div>    
    <div class="panel-body">
      <span id="rhyme-words" class = "output-text"></span>
    </div>
    
  </div>

  <div class="panel panel-default">
    <span class="label label-default" style="font-size:1.2em">Rhyme Candidates</span>
    <div class="panel-body">
      <span id="exact-rhyme-candidates" class = "output-text"></span>
    </div>
    
  </div>

  <div class="panel panel-default" style="display:none">
    <span class="label label-default" style="font-size:1.2em">Rhyme Info</span>
    <div class="panel-body">
      <span id="rhyme-info" class = "output-text"></span>
    </div>
    
  </div>
  
</div>
