body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.output {
  padding: 0px 15px;
}

.output-text {
    font-size:1.2em
}

.poem-line {
    margin-bottom: 5px;
}